reference=GGACATTGAAAAGGTCATGATTACAGACGAAGAGGAAATCAGGACAACCAATCCCGTGGCTACGGAGCAGTATGGTTCTGTAtctACCAACCTCCAGAGAGGCAACAGACAAGCAGCTACCGCAGATGTCAACACACAAGGCGTTCTTCCAGGCATGGTCTGG
read1=.\tmp\test-upaired-1.fastq.gz
read2=.\tmp\test-upaired-2.fastq.gz
paired=True
merge=True
unpaired=.\tmp\test-merged.fastq.gz
anchor1=CAGAGAGGC
anchor2=CAAGCAGCT
prefix=CoPI
threads=2
threshold=50
collapse=True
plot=True
label1=T589
label2=D590